        <!-- Page Content -->
        <div id="page-wrapper">
           <section>
               <h2 class="text-center tit">Panel de control de recepcionista</h2>
               <div class="contenedor">
                    <a href="#/Reservas">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Reservas</p></div>
                           
                        </div>
                    </a>
                    <a href="#/ReservasConfirmar">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Confirmar Reserva</p></div>
                           
                        </div>
                    </a>
                    <a href="#/grid">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Disponibilidad</p></div>
                           
                        </div>
                    </a>
                    <a href="#/Clientes/ver">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Clientes</p></div>
                        </div>
                    </a>
                    <a href="#/Buscar">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Registro sin reser</p></div>
                        </div>
                    </a>
                    <a href="#/DetalleHabitaciones">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Habitaciones</p></div> 
                        </div>
                    </a>
                    <a href="#/ReservasHistorial">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Historial reservas</p></div> 
                        </div>
                    </a>
               </div>
           </section>
        </div>