        <!-- Page Content -->
        <div id="page-wrapper">
           <section>
               <h2 class="text-center tit">Panel de control de administrador</h2>
               <div class="contenedor">
                    <a href="#/Habitaciones">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Info. Habitaciones</p></div>
                           
                        </div>
                    </a>
                    <a href="#/804ee937289b6ca7015c3230d5f2eaae7a51411c">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Usuarios</p></div>
                           
                        </div>
                    </a>
                    <a href="#/configChecks">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Hora de E/S</p></div>
                           
                        </div>
                    </a>
                    <a href="#/Moneda/ver">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Tipo de Cambio</p></div>
                           
                        </div>
                    </a>
                    <a href="#/58b38f0df4aa9c385f419877e07cbc5549162398">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Bancos</p></div>
                           
                        </div>
                    </a>
                    <a href="#/Porcentaje/ver">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Config. Pagos</p></div>
                           
                        </div>
                    </a>
                    <a href="#/LibroHuespedes">
                        <div class="objeto">
                            <div class="superior text-center " style="font-size: 0.5rem"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Bitácora</p></div>
                           
                        </div>
                    </a>
                     <a href="#/Estadisticas">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Estadísticas</p></div>
                           
                        </div>
                    </a>
                    <a href="#/user">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Recepcionista</p></div>
                           
                        </div>
                    </a>

               </div>
           </section>
        </div>
       