        <!-- Page Content -->
        <div id="page-wrapper">
           <section>
               <h2 class="text-center tit">Panel de Root</h2>
               <div class="contenedor">
                    <a href="#/LisBanner">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Banners</p></div>
                           
                        </div>
                    </a>
                    <a href="#/LisHab">
                         <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Tipo de hab.</p></div>   
                        </div>
                    </a>
                    <a href="#/LisGaleria">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Galería de fotos</p></div>
                           
                        </div>
                    </a>
                    
                    <a href="#/LisNoticias">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Noticias</p></div>   
                        </div>
                    </a>
                    <a href="#/LisServicios">
                         <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Servicios</p></div>
                        </div>
                    </a>
                    <a href="#/Reporte">
                         <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Reportes</p></div>
                        </div>
                    </a>
                    <a href="#/Hoteles">
                         <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-header" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Hotel</p></div>
                        </div>
                    </a>
                    

                   
               </div>
           </section>
       </div>