<div id="page-wrapper">
           <section>
               <h2 class="text-center tit">Panel de control de usuario</h2>
               <div class="contenedor">
                    <a href="#/Buscar">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Buscar y Registrar</p></div>
                        </div>
                    </a>
                    <a href="">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Habitaciones</p></div> 
                        </div>
                    </a>
               </div>
           </section>
        </div>