<h3 class="tit2" style="margin-top: 100px">Galeria de la Habitacion</h3><br><br>

<div id="page-wrapper" ng-controller="habtipogalController" ng-init="gethabitacionG();" style="margin-top:80px">


    <div ng-repeat="r in habfotos" class="cont-icos">
       <label class="checkbox-inline" ng-repeat="servicios in r.habtipo_serviciointernos" style="margin-left:0px; margin-bottom: 60px;padding-top: 0">
        <div ng-if="servicios.estado=='true'">
            <div style="text-align:left;width: 60px;margin-right:100px">
                <input type="checkbox" id="{{servicios.id}}" value="option1" checked="" style="margin-top: 20%;display: none">
                <label for=""></label>
                <i class="{{servicios.serviciointerno.icono}}" style="text-align: center;font-size:5rem;z-index: 10px;"></i>
                <div style="font-size: 1.2rem;text-align: center">{{servicios.serviciointerno.nombre}}</div>
            </div>
        </div>
        <div ng-if="servicios.estado=='false'">
            <div style="text-align:left;width: 60px;margin-top: 0px;margin-right:100px">
                <input type="checkbox" id="{{servicios.id}}" value="option1" style="margin-top: 20%;display: none">
                <label for=""></label>
                <i class="{{servicios.serviciointerno.icono}}" style="text-align: center;font-size:5rem;"></i>
                <div style="font-size: 1.2rem;text-align: center">{{servicios.serviciointerno.nombre}}</div>
            </div>
        </div>
          
        </label>
        <div class="btn-margin">
            <a href="" ng-click="GuardarIcon()" type="submit" class="btn btn-primary"> Guardar Cambios</a>
        </div>
        
    </div>

    <div class="cont-img">
        <div class="cont-btn">
            <a href="" class="btn btn-primary btn-plusimg" data-toggle="modal" data-target="#editar"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>  Agregar Imagen</a><br><br>
        </div>
        

        <section class="center-block">
            <div class="galeria-f" ng-repeat="x in habfotos" style="width: 90%">
                <div ng-repeat="a in x.habtipofotos" style="width: 180px;height: 150px;display: inline-block;margin: 20px 20px 20px 20px">
                    <a class="btn btn-danger" ng-click="eliminar(a.id);" style="display: block;position: absolute;margin-right:0">x</a>
                    <img src="imagen/habitaciones/galeria/{{a.foto}}" style="width: 180px;height: 130px;" >
                </div>
            </div>  
        </section>
    </div>
	

<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">Agregar Imagen</h2>
                </div>
                <div class="modal-body">
                        
                    <form method="POST" action="admin/createhabgalery" id="formulario" enctype="multipart/form-data" >
                        <div class="form-group ">
                            <label for="titulo">Titulo</label>
                            <input type="text" class="form-control" id="titulo" name="titulo"  ng-model="mlnombre"  requiered>
                        </div>
                        <div class="form-group ">
                            <label for="titulo">foto</label>
                            <input type="file" id="imagen" name="imagen" required>  
                        </div>
                        <div class="form-group" style="display:none">
                            <label for="estado">habtipo</label>
                            <input type="text" class="form-control" id="habtipo_id" name="habtipo_id"  ng-model="habId">
                        </div>
                    	<input class="btn btn-primary" type="submit" value="Guardar">
                    </form>
                     </div>     
                </div>
            </div>
        </div>
